/* Color styles */
$ligth: #FEFEFE;
$orange: #F76210;
$grey: #E3E4E2;
$dark: #010101;
$green: #6EC083;
$op-orange: rgba(247, 98, 16, 0.2);
$blue: #0064FE;
$yellow: #F8CC23;
$ligth-green: #3BC77B;
$dark-grey: #B4A2A1;
$background: #F4F4F6;